<img src="<%= asset_path("logo.png") %>" />
<ul>
  <li>
    <a href="<%= schools_path %>">School Directory</a>
  </li>
</ul>
<ul>
  <li>
    <a href="/">Applicant Signup</a>
  </li>
  <li>
    <a href="<%= new_school_path %>">School Signup</a>
  </li>
</ul>
<ul>
  <li>
    <a href="/">Applicant Signin</a>
  </li>
  <li>
    <a href="/">School Signin</a>
  </li>
</ul>
