<%=
render partial: "accounts/new", locals: {
  account: @school_administrator,
  headline: "Let's get your school on board",
  subline: "We'll start by creating an account for you to represent <span class=\"school\">#{@invitation.school.name}</span>."
}
%>
