<h1>Super Admins Only</h1>

<ul>
  <li>
    <a href="<%= admin_schools_path %>">Schools</a>
  </li>
  <li>
    <a href="<%= admin_invitations_path %>">School Invitations</a>
  </li>
  <li>
    <a href="<%= admin_questions_path %>">Questions</a>
  </li>
</ul>