<h1>School (New)</h1>

<%= form_for @school, url: {action: "create"} do |school_form| %>

  <div>
    <%= school_form.label :name, 'School Name' %>
    <%= school_form.text_field :name %>
  </div>

  <div>
    <%= button_tag "Create", :name => "commit", :type => "submit" %>
  </div>

<% end %>