.school-card {

  display: block;
  padding: golden-factor(2);
  padding-bottom: 0;
  position: relative;
  overflow: hidden;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, .075);
  border-radius: $border-radius;
  text-decoration: none;

  text-align: center;

  &:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, .125);
  }

  .focus {
    position: absolute;
    height: 60px;
    width: 110px;
    right: -45px;
    top: -16px;

    background-color: $color-delta;

    font-family: Arial, Helvetica, sans-serif;
    font-size: rem(10px);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-beta;

    @include transform(rotate(45deg));
    -webkit-backface-visibility: hidden;

    span {
      position: relative;
      top: 40px;
    }
  }

  .logo-wrap {
    display: inline-block;
    font-size: 0;

    border-radius: 100%;
    border: 0px solid $color-alpha;

    .logo {
      $size: 124px;

      width: $size;
      height: $size;

      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;

      border-radius: 100%;
      border: 0 solid white;

      img {
        display: block;
      }
    }
  }

  .name {
    margin: golden-factor(2) golden-factor(-2);
    margin-bottom: 0;

    padding: golden-factor(1) golden-factor(2);

    background-color: $color-gamma;

    font-family: 'Whitney SSm A', 'Whitney SSm B', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: rem(18px);
    text-align: center;
    letter-spacing: -1px;

    color: darken($color-gamma, 60%);

    &.apply {
      text-align: left;
    }
    .btn--apply {
      float: right;
      position: relative;
      top: -2px;
      width: 50px;
      height: 22px;
      line-height: 22px;
      padding: 0;

      font-size: rem(10px);
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0;

      color: darken($color-gamma, 50%);
      border-color: darken($color-gamma, 10%);

      @include transition(
        border-color $speed-transition ease-in-out,
        color $speed-transition ease-in-out);

      &:hover {
        color: darken($color-gamma, 75%);
        border-color: darken($color-gamma, 30%);
      }

      &.applied {
        border-color: darken($color-gamma, 30%);
        background-color: darken($color-gamma, 30%);
        color: white;
        width: 54px;
      }
    }
  }

  .tray {
    padding: golden-factor(.5) golden-factor(2);
    margin-left: golden-factor(-2);
    margin-right: golden-factor(-2);

    background-color: $color-delta;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    ul > li {
      padding: golden-factor(.5) 0;
      border-top: 1px solid rgba(0, 0, 0, .025);
      &:first-child {
        border-top: 0;
      }
    }
    .label {
      float: right;

      font-size: rem(11px);
      line-height: 21px;
      text-transform: uppercase;

      color: darken($color-delta, 30%);
    }
    .value {
      float: left;

      font-size: rem(13px);
      line-height: 21px;
      font-weight: bold;

      color: darken($color-delta, 40%);
    }
  }

}