.school-directory-list {
  margin-right: rem(200px + ($golden-factor * 4));
}

.school-card-list {
  font-size: 0;
  > li {
    display: inline-block;
    vertical-align: top;
    padding-left: golden-factor(2);
  }
}

.school-card-list--three {
  @extend .school-card-list;
  > li {
    width: percentage(1 / 3);
    &:nth-of-type(n + 4) {
      padding-top: golden-factor(2);
    }
    &:nth-child(3n + 1) {
      padding-left: 0;
    }
  }
}

.school-card-list--four {
  @extend .school-card-list;
  > li {
    width: percentage(1 / 4);
    &:nth-of-type(n + 5) {
      padding-top: golden-factor(2);
    }
    &:nth-child(4n + 1) {
      padding-left: 0;
    }
  }
}