.site-footer {
  padding: golden-factor(3.5) 0;

  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: rem(12px);

  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, .05);
  &,
  a {
    color: darken($color-gamma, 30%);
  }
  a {
    text-decoration: none;
    &:hover {
      color: darken($color-gamma, 50%);
    }
  }
  nav {
    float: left;
    li {
      float: left;
      margin-left: golden-factor(3);
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .info {
    float: right;
    max-width: 340px;
    text-align: right;
  }
  .site-logo--footer {
    @extend .site-logo;
    margin-left: auto;
    margin-bottom: golden-factor(2);

    $_logo-width: 108px;
    $_logo-height: $_logo-width / $logo-ratio;
    background-image: image-url("logo@2x.black.png");
    @include retina-img($_logo-width, $_logo-height);

    opacity: .25;
  }
}