.lead-in {
  background-color: $color-delta;

  h1,
  h2 {
    margin: 0;

    text-align: center;
    line-height: 1.2;
    -webkit-text-rendering: optimizeLegibility;
  }

  h1 {
    margin: 0;

    font-size: rem(30px);
    font-weight: 700;
    letter-spacing: -1px;

    color: $color-beta;
  }

  h2 {
    margin-top: golden-factor(1);
    max-width: 65%;
    @include block-center;

    font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
    font-size: rem(18px);
    font-weight: 300;

    color: darken($color-delta, 30%);
  }
}

.lead-in--delta {
  @extend .lead-in;
  background-color: $color-delta;
  h1 {
    color: $color-beta;
  }
  h2 {
    color: darken($color-delta, 40%);
  }
}

.lead-in--gamma {
  @extend .lead-in;
  background-color: $color-gamma;
  h1 {
    color: $color-beta;
  }
  h2 {
    color: darken($color-gamma, 30%);
  }
}

.lead-in--white {
  @extend .lead-in;
  background-color: white;
  h1 {
    color: $color-beta;
  }
  h2 {
    color: darken(white, 40%);
  }
}

.lead-in--clear {
  @extend .lead-in;
  background-color: transparent;
  h1 {
    color: $color-beta;
  }
  h2 {
    color: darken($color-bg-alpha, 40%);
  }
}

.lead-in--home {
  @extend .lead-in;
  h2 {
    margin-top: 0;
    font-size: rem(22px);
    line-height: 1.5;
    color: darken($color-delta, 50%);
  }
}