<nav role="main">
  <ul class="list--layout group">
    <li class="<%= active_controller("schools") %>">
      <a href="<%= schools_path %>">Schools</a>
    </li>
    <li>
      <a href="/">About</a>
    </li>
    <li>
      <a href="http://blog.hackapp.co" target="_blank">Blog</a>
    </li>
  </ul>
</nav>