<%= form_tag filter_path, :remote => true, method: :get do %>
  
<i class="location fa fa-chevron-down fa-2x"> Location</i>
<div class="filter-category city-buttons">

    <div><%= check_box('filter[cities]', 'Akron', {}, 'Akron')%>
    <%= label_tag 'Akron', 'Akron'%></div>

    <div><%= check_box('filter[cities]', 'Albuquerque', {}, 'Albuquerque')%>
    <%= label_tag 'Albuquerque', 'Albuquerque'%></div>

    <div><%= check_box('filter[cities]', 'Austin', {}, 'Austin')%>
    <%= label_tag 'Austin', 'Austin'%></div>

    <div><%= check_box('filter[cities]', 'Boston', {}, 'Boston')%>
    <%= label_tag 'Boston', 'Boston'%></div>

    <div><%= check_box('filter[cities]', 'Cambridge', {}, 'Cambridge')%>
    <%= label_tag 'Cambridge', 'Cambridge'%></div>

    <div><%= check_box('filter[cities]', 'Chicago', {}, 'Chicago')%>
    <%= label_tag 'Chicago', 'Chicago'%></div>

    <div><%= check_box('filter[cities]', 'Denver', {}, 'Denver')%>
    <%= label_tag 'Denver', 'Denver'%></div>

    <div><%= check_box('filter[cities]', 'Detroit', {}, 'Detroit')%>
    <%= label_tag 'Detroit', 'Detroit'%></div>

    <div><%= check_box('filter[cities]', 'Kansas City', {}, 'Kansas City')%>
    <%= label_tag 'Kansas City', 'Kansas City'%></div>

    <div><%= check_box('filter[cities]', 'Las Vegas', {}, 'Las Vegas')%>
    <%= label_tag 'Las Vegas', 'Las Vegas'%></div>

    <div><%= check_box('filter[cities]', 'London', {}, 'London')%>
    <%= label_tag 'London', 'London'%></div>

    <div><%= check_box('filter[cities]', 'Montreal', {}, 'Montreal')%>
    <%= label_tag 'Montreal', 'Montreal'%></div>

    <div><%= check_box('filter[cities]', 'Nashville', {}, 'Nashville')%>
    <%= label_tag 'Nashville', 'Nashville'%></div>

    <div><%= check_box('filter[cities]', 'New York', {}, 'New York')%>
    <%= label_tag 'New York', 'New York'%></div>

    <div><%= check_box('filter[cities]', 'Portland', {}, 'Portland')%>
    <%= label_tag 'Portland', 'Portland'%></div>

    <div><%= check_box('filter[cities]', 'Provo', {}, 'Provo')%>
    <%= label_tag 'Provo', 'Provo'%></div>

    <div><%= check_box('filter[cities]', 'Salt Lake City', {}, 'Salt Lake City')%>
    <%= label_tag 'Salt Lake City', 'Salt Lake City'%></div>

    <div><%= check_box('filter[cities]', 'San Francisco', {}, 'San Francisco')%>
    <%= label_tag 'San Francisco', 'San Francisco'%></div>

    <div><%= check_box('filter[cities]', 'Seattle', {}, 'Seattle')%>
    <%= label_tag 'Seattle', 'Seattle'%></div>

    <div><%= check_box('filter[cities]', 'Sydney', {}, 'Sydney')%>
    <%= label_tag 'Sydney', 'Sydney'%></div>

    <div><%= check_box('filter[cities]', 'Toronto', {}, 'Toronto')%>
    <%= label_tag 'Toronto', 'Toronto'%></div>

    <div><%= check_box('filter[cities]', 'Vancouver', {}, 'Vancouver')%>
    <%= label_tag 'Vancouver', 'Vancouver'%></div>
</div>

<div class="filter-category price-buttons">

    <div><%= check_box('filter[cities]', '< 7,000', {}, '< 7,000')%>
    <%= label_tag '< 7,000', '< 7,000'%></div>

    <div><%= check_box('filter[cities]', '7-12,000', {}, '7-12,000')%>
    <%= label_tag '7-12,000', '7-12,000'%></div>

    <div><%= check_box('filter[cities]', '> 12,000', {}, '> 12,000')%>
    <%= label_tag '> 12,000', '> 12,000'%></div>

</div>

<i class="tech fa fa-chevron-down fa-2x"> Technology</i>
<div class="filter-category tech-buttons">

    <div><%= check_box('filter[cities]', 'Android', {}, 'Android')%>
    <%= label_tag 'Android', 'Android'%></div>

    <div><%= check_box('filter[cities]', 'Entrepreneurship', {}, 'Entrepreneurship')%>
    <%= label_tag 'Entrepreneurship', 'Entrepreneurship'%></div>

    <div><%= check_box('filter[cities]', 'iOS', {}, 'iOS')%>
    <%= label_tag 'iOS', 'iOS'%></div>

    <div><%= check_box('filter[cities]', 'Javascript', {}, 'Javascript')%>
    <%= label_tag 'Javascript', 'Javascript'%></div>

    <div><%= check_box('filter[cities]', 'Python', {}, 'Python')%>
    <%= label_tag 'Python', 'Python'%></div>

    <div><%= check_box('filter[cities]', 'Ruby on Rails', {}, 'Ruby on Rails' )%>
    <%= label_tag 'Ruby', 'Ruby'%></div>

    
</div>

<%= submit_tag 'Apply Filters', name: "filter-button" %>

<% end %>
