(function () {

 $('.content').empty();

results.add(<%= raw @schools.to_json %>);

	//index.remove(<%= raw @schools.to_json %>);
	// index.reset(<%= raw @schools.to_json %>)

	// results.add(<%= raw @schools.to_json %>);

})();


