<div class="gut">
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Admins</th>
    </tr>
    <% @schools.each do |school| %>
    <tr>
      <td><%= school.id %></td>
      <td>
        <a href="<%= school_path(school.id) %>">
          <%= school.name %>
        </a>
      </td>
      <td><%= school.accounts.pluck(:name) %></td>
    </tr>
    <% end %>
  </table>
</div>