<div class="trunk">
<!--   <aside class="filter">
    <div class="filter-button">
      <i class="fa fa-filter"> Filter</i>
    </div>
  </aside> -->

  <div class="directory content">
    <aside class="filter">
      <div class="filter-area">
        <div class="filter-bar">
          <%= render 'filter' %>
        </div>
      </div>
    </aside>
  </div>

  <div id="templates">
    <script class="school", type="text/template", style="display:none">
      <div class="schoollogobox">
        <%= link_to "schools/{{id}}" do %>
          <img src="{{logo}}">
        <% end %>
      </div>
      <div class="schooltextbox">
        <h4> <%= link_to "{{name}}", "schools/{{id}}" %> </h4>
        <h6> {{city}} {{state}} </h6>
      </div>
    </script>
  </div>

  <% content_for :javascript do %>
  <script type="text/javascript">

      var index = new SchoolCollection();
      var results = new SchoolCollection();

      var indexView = new SchoolIndexView({
        collection: index,
        el: '.content'
      });

      var resultsView = new SchoolIndexView({
        collection: results,
        el: '.content'
      });

      var schools = <%= raw @schools.to_json %>

      index.add(schools);
  </script>
  <% end %>
</div>
