.content.trunk
  .main
    .school-top
      .school-logo=image_tag @school.logo
      .school-name-container
        .school-name
          %h2= @school.name
    - if @school.video?
      .school-media
        %strong.section-header Media
        %br
        .media-wrap
          <iframe width="560" height="315" src= "//www.youtube.com/embed/#{@school.video}" frameborder="0" allowfullscreen></iframe>
    .school-about
      %strong.section-header About
      %br
      %p
        = @school.description
    .disqus_thread
      = raw disqus_thread
  %aside.sidebar
    .shade
    %ul.sidebar__items
      %li
        %button.apply-here= link_to "Apply Here", @school.website, {target: "_blank"}
      %li
        .school-stats
          %h4= @school.city
          %h4= @school.duration
          %h4= @school.stack
          %h4= @school.price
      %li
        %div.school-links
          %p
            %i.fa.fa-link.fa-2x
            = link_to @school.name, @school.website
          %p
            %i.fa.fa-envelope.fa-2x
            = mail_to @school.email
          %p
            %i.fa.fa-twitter.fa-2x
            = link_to "Twitter", @school.twitter
          %p
            %i.fa.fa-facebook.fa-2x
            = link_to "Facebook", @school.facebook
          %p
            %i.fa.fa-location-arrow.fa-2x
            = @school.street
            %br
            .address
              = @school.city + ","
              = @school.state
              = @school.zip
