.filter--search {
  width: 100%;
  input {
    padding: golden-factor(1.125) golden-factor(1.25);

    font-size: rem(14px);
    font-weight: normal;

    border: 0;
    background-color: rgba(0, 0, 0, .05);
    box-shadow: none;
    border-radius: $border-radius;
  }
}