.hero--home {
  height: rem(520px);
  position: relative;

  background-image: image-url("hero-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &:after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, .5);
  }
}