.hero--home {
  height: rem(500px);
  position: relative;

  background-image: image-url("hero-8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, .6);
  }

  .gut {
    position: relative;
  }

  h1,
  h2 {
    margin: 0;
    width: 60%;

    text-align: left;
    line-height: 1.2;
    -webkit-text-rendering: optimizeLegibility;
  }

  h1 {
    margin: 0;

    font-weight: 700;
    font-size: 38px;
    letter-spacing: -1px;

    color: white;
  }

  h2 {
    margin-top: golden-factor(1);

    font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
    font-weight: 300;
    font-size: 22px;

    color: rgba(200, 200, 200, 1);
  }

  button {
    margin-top: golden-factor(4);
    &.apply {
      margin-left: golden-factor(2);
      border: 2px solid $color-alpha;
      &:hover {
        border-color: $color-alpha-dark;
      }
    }
  }
}