.site-logo {
  $logo-ratio: 132px / 29px;
  $logo-width: 118px;
  $logo-height: $logo-width / $logo-ratio;

  display: block;
  margin-top: rem(($header-height - $logo-height) / 2);
  
  background-image: image-url("logo@2x.png");
  background-repeat: no-repeat;
  @include retina-img($logo-width, $logo-height);

  img {
    display: block;
  }
}