.site-nav {
  li {
    float: left;
    margin-left: golden-factor(0);
    position: relative;
    &:first-child {
      margin-left: 0;
    }
    a {
      display: block;
    }
    a:not(.btn--green) {
      height: rem($header-height);
      padding: 0 golden-factor(2);
      position: relative;

      font-size: rem(14px);
      font-weight: 600;
      line-height: rem($header-height);
      text-decoration: none;
      
      color: #333;
      border-bottom: 1px solid transparent;

      @include transition(
        background-color $speed-transition ease-in-out,
        color $speed-transition ease-in-out);

      -webkit-backface-visibility: hidden;
    }
    > a:not(.btn--green):hover {
      background-color: $color-bg-alpha;
      color: $color-alpha;
    }
    &.active > a {
      color: $color-alpha;
    }
    &.featured {
      margin: rem(($header-height - $btn-height) / 2) golden-factor(2);
    }
  }
  .gravatar {
    display: block;
    float: left;
    width: rem(30px);
    height: rem(30px);
    margin-top: rem(($header-height - 30px) / 2);
    margin-right: golden-factor(1);

    border-radius: 100%;
  }
}

.site-nav--primary,
.site-nav--secondary {
  @extend .site-nav;
}

/* Reduce the padding for the secondary menu (right side menu) */
.site-nav--secondary li {
  a:not(.btn--green) {
    padding: 0 golden-factor(1);
  }
  &.featured {
    margin-left: golden-factor(1);
    margin-right: golden-factor(1);
  }
  &.dropdown-wrap > a {
    padding-right: rem(($golden-factor * .5) + 8px + ($golden-factor * 1));
    &:after {
      right: golden-factor(1);
    }
  }
}