*, *:before, *:after {
  @include box-sizing(border-box);
}

html {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: percentage($font-size-base / 16);
  font-weight: 400;
}

body {
  background-color: $color-bg-warm;
  position: relative;
}

b, strong {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
}