/* Logo */

$logo-ratio: 132px / 29px;
$logo-width: 118px;
$logo-height: $logo-width / $logo-ratio;

/* Colors */

$color-alpha: #4fc18c;
$color-alpha-light: lighten($color-alpha, 10%);
$color-alpha-dark: darken($color-alpha, 3%);

$color-beta: #495e70;
$color-beta-light: lighten($color-beta, 10%);
$color-beta-dark: darken($color-beta, 10%);

$color-gamma: #f5f5f5;
$color-gamma-light: lighten($color-gamma, 10%);
$color-gamma-dark: darken($color-gamma, 10%);

$color-delta: #ced8e0;
$color-delta-light: lighten($color-delta, 10%);
$color-delta-dark: darken($color-delta, 10%);

$color-bg-alpha: $color-gamma;

$color-text: #666;

/* Typography */

$font-size-base: 15;

/* Layout */

$golden-factor: 12px;
$gut-max-width: 1140px;

$header-height: $golden-factor * 6.5;

/* Buttons */

$btn-height: $golden-factor * 4;

/* Decoration */

$border-radius: 4px;

/* Effects */

$speed-transition-xfast: .5s;
$speed-transition-fast: .1s;
$speed-transition: .2s;
$speed-transition-slow: .4s;
$speed-transition-xslow: .8s;