/* Logo */

$logo-ratio: 132px / 29px;
$logo-width: 118px;
$logo-height: $logo-width / $logo-ratio;

/* Colors */

$color-alpha: #3abc80;
$color-alpha-light: lighten($color-alpha, 10%);
$color-alpha-dark: darken($color-alpha, 3%);

$color-beta: #6497cb;
$color-beta-light: lighten($color-beta, 10%);
$color-beta-dark: darken($color-beta, 10%);

$color-bg-warm: #f7f5f2;

$color-text: #666;

/* Typography */

$font-size-base: 15;

/* Layout */

$golden-factor: 12px;
$gut-max-width: 1140px;

$header-height: $golden-factor * 6.5;

/* Buttons */

$btn-height: $golden-factor * 3;

/* Decoration */

$border-radius: 4px;

/* Effects */

$speed-transition-xfast: .5s;
$speed-transition-fast: .1s;
$speed-transition: .2s;
$speed-transition-slow: .4s;
$speed-transition-xslow: .8s;