<% content_for :header_class do %>see-through<% end %>

<section class="hero hero--light">
  <div class="gut middle--outer">
    <div class="middle--inner">
      <h1>You're at the doorstep</h1>
      <h2>Order the schools by preference and hit Apply. You're done.</h2>
    </div>
  </div>
  <span class="symbol"></span>
</section>

<section class="content-piece">
  <div class="gut">
  </div>
</section>
