<section class="hero hero--home">
  <div class="gut middle--outer">
    <div class="middle--inner">
      <h1>A better way to bootcamp</h1>
      <h2>Research coding bootcamps. Apply with one profile.</h2>
      <button class="schools">View Schools</button>
      <button class="apply">Start Application</button>
    </div>
  </div>
</section>