.bootcamp-results {
  margin-right: rem($bootcamp-filter-width + ($golden-factor * 4));
  .none-found {
    padding: golden-factor(4);
    width: 75%;
    @include block-center;

    font-size: rem(18px);

    background-color: white;
    text-align: center;
    color: darken(white, 40%);
    border-radius: $border-radius;

    .btn--green {
      margin-top: golden-factor(2);
      display: inline-block;
    }
  }
}
