<section class="admin-subheader">
  <div class="gut group">
    <div class="info--primary">
      <div class="results">
        Listing <span class="current"><%= result_count %></span> of <span class="total"><%= result_count %></span> <%= "result".pluralize(result_count) %>
      </div>
    </div>
    <div class="info--secondary">
      <div class="filter">
        <input type="text" name="filter" placeholder="Filter listings" />
      </div>
    </div>
  </div>
</section>