<% content_for :header_class do %>see-through on-dark<% end %>

<section class="hero hero--dark">
  <div class="gut middle--outer">
    <div class="middle--inner">
      <h1><%=raw headline %></h1>
      <h2><%=raw subline %></h2>
    </div>
  </div>
  <span class="symbol"></span>
</section>

<section class="content-piece">
  <div class="gut">
    <%= yield %>
  </div>
</section>

<% content_for :scripts do %>
<script>
$('[name="account[name]"]').focus();
</script>
<% end %>
